<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie=edge">
        <title> Alfredo gonzales </title>
        <link href="css/%EA%B0%95%EC%9D%98%EB%94%B0%EB%9D%BC%ED%95%98%EA%B8%B0.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <!--header-->
        <header>
        <a href="#" class="logo">Alfredo<br/>gonzales</a>
        <ul>
            <li><a href="#"><img src="images/menu01.png" alt=""></a>home</li>    
            <li><a href="#"><img src="images/menu02.png" alt=""></a>shop</li>   
            <li><a href="#"><img src="images/menu03.png" alt=""></a>custombox</li>   
            <li><a href="#"><img src="images/menu04.png" alt=""></a>blog</li>   
            <li><a href="#"><img src="images/menu05.png" alt=""></a>story</li>   
        </ul>
        </header>
        <!--//header-->
        
        
        <!--main-->
        <section id="mainbg">
            
        <div class="left">
            <img src="images/header01.jpg" alt="">
        </div>
            
        <div class="right">
            <img src="images/side01.jpg" alt="">
            <div class="tbox">
            <p>DESIGN YOUR OWNSOCK</p>
                <h1>THE WORKSHOP</h1>
                <div class="line"></div>
            </div>
            <div class="tbox">
            <p>SELF SERVICE</p>
                <h1>ONLINE STORE</h1>
                <div class="line"></div>
            </div>
        </div>
        
        </section>
        <!--//mainbg-->
        
        <!--section01-->
        <section id="section01">
        <div class="left">
            <img src="images/banner_01.jpg" alt="">
            <div class="ibox">
            <iframe src="https://player.vimeo.com/video/104136276" width="784" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
         </div>
            
        <div class="right">
            <img src="images/banner_02.jpg" alt="">  
        </div>
        </section>
      
        <!--//section01-->
        
        
        <!--section02-->
        
        <section id="section02">
        <img src="images/banner_03.jpg" alt="">
        <img src="images/banner_04.jpg" alt="">
        <img src="images/banner_05.jpg" alt="">
        
        </section>
        
        <!--//section02-->
        
        <!--footer-->
        <footer id="section03">
        <div class="left">
        
        </div>
        <div class="right">
            <div class="ibox">
                <iframe src="https://player.vimeo.com/video/58451361" width="800" height="340" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div> 
            <form>
                <div class="center">
                    <label>SIGN UP</label>
                    <input type="email" placeholder="YOUR EMAIL ADDRESS" name="em">
                    <button type="button">&#62;</button>
                </div>
           </form>
        </div>
            
        <div class="footerlogo">
            Alfredo<br/>gonzales
        </div>
        
        
        </footer>
        
        <!--//footer-->
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>
</html>